body{
  margin: 20px;
  font-family: Verdana;
}
#menu-principal{
padding-top: 10px;
padding-bottom: 10px;
padding-left: 0px;
padding-right: 0px;
}
#menu-principal a + a::before {
content: " | ";
color: black;
}
#menu-principal{
  font: green;
}
a {
  color: green;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
footer{
  margin-top: 20px;
border-top: solid 1px black;
padding-top: 10px;
text-align: center;
}
table {
border-collapse: collapse;
}
table th, td{
border: 1px solid black;
padding: 10px;
}
tr:nth-child(even){
  background: #CCC;
}
tr:nth-child(odd){
  background: #CCF;
}
