body
{
  font-family: verdana;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.resaltado
{
  background-color: yellow;
}
#menu-principal
{
  padding: 10px 0px;
}
.titulo
{
  background-color: aliceblue;
  text-align: center;
  padding: 10px;
}
